@import 'tailwindcss';

:root {
  --background: #161616;
  --foreground: #ffffff;
  --accent: #f24e2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
